#homeTopImage {
  width: 100%;
  height: 31.3rem;
  background-color: #bbd5ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sixbrand {
  background-color: #f0f6ff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.operationalize {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
  padding: 1rem;
}
.operationalizeHeading {
  margin: auto;
}
.react-player {
  width: 60%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-radius: 1.2rem;
}
.player-container {
  position: relative;
}
.player-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f8fafc;
}
.player-text {
  padding: 1rem;
  margin: 1rem;
}
#parent-progress-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;

  border-radius: 1.2rem;
  margin: auto;
  scroll-behavior: hidden;
}
.parent-progress-bar {
  padding: 1rem;
  margin: 1rem;
}
#parent-video-of-ai {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1.2rem;
  scroll-behavior: hidden;
  background-color: #e9e0ff;
  border-radius: 1.2rem;
}

.equinox-text {
  margin: auto;
  margin-top: 20%;
  position: relative;
  padding: 2rem;
  margin-left: 70%;
}
.parent-video-of-equinox {
  display: flex;
}
.parent-video-of-equinox video {
  position: absolute;
  width: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  border-radius: 1.2rem;
}

.player-text h2 {
  font-size: 3rem;
}
.operationalize h2 {
  font-size: 3rem;
}

.parent-progress-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  padding: 3rem;
  margin: 0 auto;
}

.parent-progress-data h2{
  font-size: 40px;
}

.parent-progress-data p{
  font-size: 20px;
}

#aivideo-text{
  width: auto;
  height: auto;
  margin: auto;
  padding: 1rem;

}


@media screen and (max-width: 720px) {
  #homeTopImage h2,
  #homeTopImage p,
  #homeTopImage button {
    font-size: 0.7rem;
  }
  #aivideo video {
    width: auto;

    object-fit: cover;
  }
  #parent-video-of-ai {
    grid-row: initial;
  }
  .player-text h2 {
    font-size: 1rem;
  }
  .operationalize h2 {
    font-size: 1rem;
  }

  .parent-progress-data h2{
  font-size: 1rem;
}

.parent-progress-data p{
  font-size: 1rem;
}

#parent-progress-data{
  flex: none;
}


#parent-video-of-ai {
 flex: none;
}
.equinox-text {
  margin: auto;
  margin-top: 0;

  padding: 2rem;
  margin-left: 0;
}
}
