.adminepage{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 2rem;
    gap: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}